html {
    font-family: Avenir,Tahoma,sans-serif;
    font-size: 18px;
    background-color: coral;
}


/* --------- Nav Bar ------------------ */
nav {
    display: block;
    width: 100%;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    float: left;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    padding: 14px;
}

nav ul li a:hover {
    background-color: #fcfcfc;
}

.topNavRight {
    float: right;
}

.hamburgerIcon {
    display: none;
}

.mainContainer {
    display: block;
    width: 100%;
    max-width: 645px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}

/* Table */
table { 
    border-collapse: collapse;
}

table tr td {
    border: 1px solid #000;
    padding: 10px;
}

table tr:nth-child(odd) {
    background: #f4f4f4;
}

/*---- Mobile ------*/
/*not yet minion, not yet! - Megamind*/
/*@media screen and (max-width: 680px) {
    nav ul li{
        display: none;
    }

    .hamburgerIcon {
        display: block;
    }

    .topNavRight {
        display: block;
    }
}*/

/* Main Calculator*/

h1 {
    background-image: linear-gradient(45deg, #EE27E9, #06ECFF);
    text-decoration: none;
    color: white;
    display: inline-block;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: all 0.15s cubic-bezier(0.68, -0.25, 0.265, 1.25);
}

.radiobuttonstack {
    display: block;
}

.totalbodyweight {
  text-decoration: underline #26EAA2;
}

.totalfatmass {
  text-decoration: underline #EE27E9;
}

.totalleanmass {
  text-decoration: underline #06ECFF;
}

.bmrAnswer {
    text-decoration: underline #06ECFF;
}


.highlight{
    border: 1px solid #EE27E9;
    padding-top: 10px;
    padding-left: 10px;
}

.summerSection{
    border: 2px solid #EE27E9;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10;
}

.scienceSideNote {
    background-color: #ccffcc
}

.scienceSideNoteBody {
    border: 1px solid gray;
}

#poundMassPoundForceDetails {
    display: none;
}

#weightDoesntMatterDetails {
    display: none;
}

#spotReduceDetails {
    display: none;
}

#fatCellDetails {
    display: none;
}

#fattyAcidBreakdown {
    display: none;
}

#scienceUnderDevelopedCore {
    display: none;
}

#betaBanner {
    background-color: yellow;
    text-align: center;
}

.maleExampleImageLinks {
    display: none;
}

.femaleExampleImageLinks {
    display: none;
}

.calcOnlyWarning {
    color: orange;
}

.imageContainer {
    max-width: 800px;
}

.imageContainer img {
    width: 100%;
    height: auto;
}

#signupform {
    margin-top: 22px;
    margin-bottom: 25px;
    padding: 19px 18px 0 30px;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(76,183,221,.02);
    border-radius: 2px;
    background-color: #f8fcff;
    box-shadow: 0 5px 15px -10px rgba(0,89,156,.16);
    color: #0e2430;
    line-height: 29px;
}

#estimateBodyFat {
    display: block;
    margin-top: 22px;
    margin-bottom: 25px;
    padding: 19px 18px 0 30px;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(76,183,221,.02);
    border-radius: 2px;
    background-color: #f8fcff;
    box-shadow: 0 5px 15px -10px rgba(0,89,156,.16);
    color: #0e2430;
    line-height: 29px;
}

#activityLevelSection {
    display: none;
    margin-top: 22px;
    margin-bottom: 25px;
    padding: 19px 18px 0 30px;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(76,183,221,.02);
    border-radius: 2px;
    background-color: #f8fcff;
    box-shadow: 0 5px 15px -10px rgba(0,89,156,.16);
    color: #0e2430;
    line-height: 29px;
}

#showEstimateSection {
    color: red;
}

#buttonToggleActivityLevelSection {
    color: red;
}

.tdeeResults {
    margin-top: 22px;
    margin-bottom: 25px;
    padding: 19px 18px 0 30px;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(76,183,221,.02);
    border-radius: 2px;
    background-color: #f8fcff;
    box-shadow: 0 5px 15px -10px rgba(0,89,156,.16);
    color: #0e2430;
    line-height: 29px;
}

p {
    margin-bottom: 16px;
    font-family: Avenir,Tahoma,sans-serif;
    line-height: 25px;
}

div {
    margin-bottom: 16px;

}

.genderHeader {
    margin-bottom: 16px;
    font-family: Avenir,Tahoma,sans-serif;
    line-height: 25px;
}

h1 {
    font-family: Avenir,Tahoma,sans-serif;
    color: #EE27E9;
}

h2 {
    font-family: Avenir,Tahoma,sans-serif;
    color: #06ECFF;
    padding-bottom: 11px;
}

body {
    background-color: #ffffff;
    margin: 0;
}

ol {
    margin-top: 22px;
    margin-bottom: 25px;
    padding: 19px 18px 0 30px;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(76,183,221,.02);
    border-radius: 2px;
    background-color: #f8fcff;
    box-shadow: 0 5px 15px -10px rgba(0,89,156,.16);
    color: #0e2430;
    line-height: 29px;
}


.squareButton {
    margin-top: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
/*    box-shadow:inset 0px 1px 0px 0px #7a8eb9;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
/*    background: linear-gradient(90deg, #df43e8, #f667c2, #ff90a8);*/
    background-color:#637aad;
    /*border:1px solid #9EB7EC;*/
    /*border:2px solid rgba(158,183,236,.25);*/
    border:1px solid rgba(224, 69, 232,.1);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Avenir,Tahoma,sans-serif;
    font-size:18px;
    border-radius: 9px;
    font-weight:bold;
    text-decoration:none;

}
.squareButton:hover {
    background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
    background-color:#5972a7;
}
.squareButton:active {
    position:relative;
    top:1px;
}

.inputform {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    max-width: 350px;
    padding: 15px;
    padding-bottom: 12px;
    line-height: 14px;
    color: #545454;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Inria Sans', sans-serif;
    border: 2px solid #545454;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.joshdance-by {
    font-family:"Helvetica Neue",sans-serif;
    right:0;
    bottom:0;
    position:fixed;
    z-index:100;
    border-top-left-radius: 5px;
    padding: 6px;
    border-top:1px solid #efefef;
    border-left:1px solid #efefef;
    background:#fff;
    color:#6f6f6f;
    text-decoration:none;
}
.joshdance-by:hover {
    background:#fff;
    color:rgb(255, 71, 66); /* change to your main brand color */
}
.joshdance-by img {
    border-radius:100%;
    width:22px;
    vertical-align:middle;
}
.joshdance-by p {
    margin:0;
    vertical-align:middle;
    display:inline;
    margin-left:7px;
    font-weight:500;
    font-size:14px;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    flex-direction: row;
}

.flex-container > div {
    font-size: 1em;
}

div #imperialLabel{
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 5px;
}

div #metricLabel{
    margin-left: 2px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#metricHeightSection {
    /* start with metric box hidden */
    display: none; 
}

.calculatorLink {
    margin-top: 20px;
}

#onePercentDownWeightInsert, #onePercentDownBodyFatPercentageInsert, #massToLoseForOnePercentDownInsert {
    background-color: #ff9bfc;
    padding-left: 5px;
    padding-right: 5px;
}