html {
	font-family: Avenir,Tahoma,sans-serif;
	font-size: 18px;
}

.bmrInputForm {
	flex; justify-content: flex-end;
}

.imageContainer {
	max-width: 800px;
}

.imageContainer img {
	width: 100%;
	height: auto;
}

#estimateBodyFat {
	display: none;
	margin-top: 22px;
    margin-bottom: 25px;
    padding: 19px 18px 0 30px;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(76,183,221,.02);
    border-radius: 2px;
    background-color: #f8fcff;
    box-shadow: 0 5px 15px -10px rgba(0,89,156,.16);
    color: #0e2430;
    line-height: 29px;
}

#activityLevelSection {
	display: none;
	margin-top: 22px;
    margin-bottom: 25px;
    padding: 19px 18px 0 30px;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(76,183,221,.02);
    border-radius: 2px;
    background-color: #f8fcff;
    box-shadow: 0 5px 15px -10px rgba(0,89,156,.16);
    color: #0e2430;
    line-height: 29px;
}

#showEstimateSection {
	color: green;
}

#buttonToggleActivityLevelSection {
	color: green;
}

.tdeeResults {
	margin-top: 22px;
    margin-bottom: 25px;
    padding: 19px 18px 0 30px;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(76,183,221,.02);
    border-radius: 2px;
    background-color: #f8fcff;
    box-shadow: 0 5px 15px -10px rgba(0,89,156,.16);
    color: #0e2430;
    line-height: 29px;
}

.mainContainer {
	display: block;
    width: 100%;
    max-width: 645px;
    margin-right: auto;
    margin-left: auto;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.header {
	display: block;
    width: 100%;
    max-width: 645px;
    margin-right: auto;
    margin-left: auto;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

p {
	margin-bottom: 16px;
    font-family: Avenir,Tahoma,sans-serif;
    line-height: 25px;
}

div {
	margin-bottom: 16px;

}

.genderHeader {
	margin-bottom: 16px;
    font-family: Avenir,Tahoma,sans-serif;
    line-height: 25px;
}

h1 {
    font-family: Avenir,Tahoma,sans-serif;
	color: red;
}

h2 {
    font-family: Avenir,Tahoma,sans-serif;
	color: #3898ec;
	padding-bottom: 11px;
}

body {
	background-color: #ffffff;
	
}

ol {
	margin-top: 22px;
    margin-bottom: 25px;
    padding: 19px 18px 0 30px;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(76,183,221,.02);
    border-radius: 2px;
    background-color: #f8fcff;
    box-shadow: 0 5px 15px -10px rgba(0,89,156,.16);
    color: #0e2430;
    line-height: 29px;
}


.squareButton {
	margin-top: 16px;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: Avenir,Tahoma,sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.squareButton:hover {
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	background-color:#5972a7;
}
.squareButton:active {
	position:relative;
	top:1px;
}

.inputform {
	-webkit-appearance: none;
    -webkit-border-radius: 0px;
    width: 100%;
    max-width: 350px;
    padding: 15px;
    padding-bottom: 12px;
    line-height: 14px;
    color: #545454;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Inria Sans', sans-serif;
    border: 2px solid #545454;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}

.joshdance-by {
	font-family:"Helvetica Neue",sans-serif;
	right:0;
	bottom:0;
	position:fixed;
	z-index:100;
	border-top-left-radius: 5px;
	padding: 6px;
	border-top:1px solid #efefef;
	border-left:1px solid #efefef;
	background:#fff;
	color:#6f6f6f;
	text-decoration:none;
}
.joshdance-by:hover {
	background:#fff;
	color:rgb(255, 71, 66); /* change to your main brand color */
}
.joshdance-by img {
	border-radius:100%;
	width:22px;
	vertical-align:middle;
}
.joshdance-by p {
	margin:0;
	vertical-align:middle;
	display:inline;
	margin-left:7px;
	font-weight:500;
	font-size:14px;
}
