html {
    font-family: Avenir,Tahoma,sans-serif;
    /* font-size: 18px; */
    font-size: min(max(1rem, 4vw), 22px);
}

body {
    background-color: #ffffff;
    margin: 0;
}

/* new */

.cardClass {
    margin-top: 10px;
    background-color: #c1c1c1;
    width: 60%;
    aspect-ratio: 241/336;
    border-radius: 1rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}

.cardClass img {
    border-radius: 1rem 1rem 0 0; /* have to curve the corners of the image. */
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
 }

 .statsContainer {
    display: flex;
    flex-direction: row;
    border:1px solid black;
    margin: 5px;
    justify-content: space-around;
 }

 .stat {

 }

 .statLabel{
    font-size: 10px;
 }

.statsRowLabel{
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
}

.cardClass h3 {
    margin: 0;
}

.distanceToGoalStatLabel {
    font-size: 5px;
}

.bodyfatpercentagebutton {
    margin-left: 3rem;
}


/* other stuff */

.valueButtonPairContainer {
    display: flex;
}

.labelClass {
    padding-right: 5px;
}

/* --------- Nav Bar ------------------ */
nav {
    display: block;
    width: 100%;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    float: left;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    padding: 1px;
    margin: 8px;
}

.topNavRight {
    float: right;
}

.hamburgerIcon {
    display: none;
}

.mainContainer {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 645px;   
    clear: both;
}

@media (min-width: 600px) {
    .column {
      width: 50%;
    }
}

h1 {
    background-image: linear-gradient(45deg, #EE27E9, #06ECFF);
    text-decoration: none;
    color: white;
    display: inline-block;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    transition: all 0.15s cubic-bezier(0.68, -0.25, 0.265, 1.25);
}

h2 {
    font-family: Avenir,Tahoma,sans-serif;
    color: #06ECFF;
    padding-bottom: 11px;
}

p {
    margin-bottom: 16px;
    font-family: Avenir,Tahoma,sans-serif;
    line-height: 25px;
}

.squareButton {
    margin-top: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
    background-color:#637aad;
    border:1px solid rgba(224, 69, 232,.1);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Avenir,Tahoma,sans-serif;
    font-size:18px;
    border-radius: 9px;
    font-weight:bold;
    text-decoration:none;

}
.squareButton:hover {
    background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
    background-color:#5972a7;
}
.squareButton:active {
    position:relative;
    top:1px;
}

.joshdance-by {
    font-family:"Helvetica Neue",sans-serif;
    right:0;
    bottom:0;
    position:fixed;
    z-index:100;
    border-top-left-radius: 5px;
    padding: 6px;
    border-top:1px solid #efefef;
    border-left:1px solid #efefef;
    background:#fff;
    color:#6f6f6f;
    text-decoration:none;
}
.joshdance-by:hover {
    background:#fff;
    color:rgb(255, 71, 66); /* change to your main brand color */
}
.joshdance-by img {
    border-radius:100%;
    width:22px;
    vertical-align:middle;
}
.joshdance-by p {
    margin:0;
    vertical-align:middle;
    display:inline;
    margin-left:7px;
    font-weight:500;
    font-size:14px;
}